body {
    background-image: conic-gradient(burlywood, antiquewhite, burlywood);
    background-repeat: no-repeat;
}



a.stdLink:link {
    background-color: white;
    color: blue;
}
a.stdLink:hover {
    background-color: black;
    color: magenta !important;
}

a.entrance {
    display: block;
    font-size: 30px;
}
a.entrance:link {
    background-color: white;
    color: blue;
}
a.entrance:hover {
    background-color: black;
    color: red !important;
}
a.entrance:visited {
    color: blue;
}
