body {
    background-image: url(../images/backgrounds/dry_brushed.jpg);
    background-repeat: no-repeat;
}

canvas {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
}



a:link, a:visited {
    color: magenta;
}

a.headBack {
    position: absolute;
    left: 100px;
    bottom: 10px;
}
a.pushOn {
    position: absolute;
    right: 100px;
    bottom: 10px;
}
