html {
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    /*background-image: repeating-radial-gradient(
        wheat 50%, white 100%
    );*/
    background-color: beige;

    text-align: center;
}

h1, h2, h3 {
    text-decoration: overline;
}

a {
    text-decoration: overline;
    color: red;
}
a:visited {
    color: palevioletred;
}



a.backHome {
    text-decoration: none;
    color: black;
}
a.backHome:hover {
    color: grey;
}

.textContainer {
    width: 80%;
    text-align: left;
    display: inline-block;
    background-color: beige;
}